.headercontainer {
    background-color: #590d22;
    width: 100%;
    height: max-content;
}

.headertitle {
    text-align: center;
    color: white;
    padding-top: 20px !important;
}

.headertitle::before {
    content: '------   ';
}

.headertitle::after {
    content: '   ------';
}

.headerdesc {
    text-align: center;
    line-height: 1.5;
    padding: 20px !important;
}

.React-js {
    color: white;
}

.humburgercontainer {
    padding: 5px 20px;
    color: white;
    font-size: 2rem;
    height: 100%;
    align-self: center;
}

.menu:hover {
    scale: 1.1;
    cursor: pointer;
}

.openstyle {
    height: 100%;
    background-color: rgb(16, 3, 29);
    display: none;
}