.containerleftsidebar{
    background-color: #800F2F;
    height: max-content;
    width: 75%;
    border-bottom-right-radius: 20px;
}
.links{
    padding: 20px;
    color: white !important;
    display: block !important;
    border-bottom: 1px solid white;
}
.links:last-child{
    border: none;
}
.links:last-child:hover{
    border-bottom-right-radius: 20px;
}
.links:hover{
    background-color: #FF4D6D;
    color: black !important;
    transition-duration: 0.3s;
}